RFG_PUBLIC_REPOSITORY=
RFG_PUBLIC_DESCRIPTION=
RFG_PUBLIC_OFFER_NAME=
RFG_PUBLIC_OFFER_SUMMARY=
RFG_PUBLIC_CONTACT_URL=
RFG_PUBLIC_CONTACT_LABEL=
RFG_PUBLIC_HOSTING_PROVIDER=
RFG_PUBLIC_SITE_SLUG=
RFG_PUBLIC_VISIBILITY=
RFG_PUBLIC_ACCESS_MODE=
